@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
:root {
  --main-color: rgb(38, 108, 59);
  --hover-color: #218838;
  --background-color: #ffffff;
  --border-color: #000000;
  --text-color: #242222;
  --border-radius: 10px;
  --box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  overflow-y: auto;
  background-color: var(--background-color); /* Fondo general */
}

.pre-registro-container {
  background-color: var(--background-color);
  border-radius: var(--border-radius);
  border: 5px solid var(--border-color);
  width: 100%; 
  max-width: 500px; /* Limita el ancho máximo */
  padding: 30px;
  text-align: left;
  box-sizing: border-box;
  box-shadow: var(--box-shadow);
  margin: 20px 0;
  overflow-y: auto;
  text-align: center;
}

.pre-registro-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.pre-registro-logo {
  width: 90px;
  height: auto;
  margin-right: 15px;
}

.btn-danger,
.btn-success {
  width: 100px;
  height: auto;
}

.pre-registro-title {
  font-size: 28px;
  font-weight: bold;
  color: var(--main-color); /* Color principal para el título */
}

.pre-registro-main {
  margin-top: 10px;
}

.pre-registro-description {
  font-size: 16px;
  font-weight: bold;
  margin: 10px 0;
}

.pre-registro-service-logo {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.pre-registro-link,
.pre-registroo-link {
  display: inline-flex;
  color: var(--main-color);
  text-decoration: none;
  font-weight: bold;
  margin-bottom: 35px;
}

.pre-registro-link:hover,
.pre-registroo-link:hover {
  text-decoration: underline;
}

.parking-image {
  width: 100%;
  position: relative;
}

.pre-registro-planta-link {
  display: inline-block;
  background-color: var(--main-color);
  padding: 8px 8px;
  border-radius: 40%;
  cursor: pointer;
}

.pre-registro-planta-link:hover {
  background-color: var(--hover-color);
}

.pre-registro-planta {
  width: 50px;
  height: auto;
  display: block;
  border-radius: 30%;
  margin: auto;
}

.parking-slider .slick-slide {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.parking-slider .slick-prev,
.parking-slider .slick-next {
  position: absolute; /* Cambiar a absolute para posicionarlos en relación al contenedor */
  top: 50%; /* Mantener centrados verticalmente */
  transform: translateY(-50%); /* Centrar verticalmente */
  background-color: var(--main-color);
  border-radius: 80%;
  padding: 15px; /* Ajusta el tamaño del botón según sea necesario */
  z-index: 1;
  cursor: pointer;
}

.parking-slider .slick-prev {
  left: -200px;
}

.parking-slider .slick-next {
  right: -20px;
}

.parking-slider .slick-dots {
  bottom: 15px; /* Posiciona los puntos debajo del slider */
}

.parking-slider .slick-dots li button:before {
  font-size: 12px;
  color: var(--text-color); /* Cambia el color de los puntos */
}

@media (max-width: 768px) {
  .parking-slider img {
    max-height: 300px; /* Reduce la altura de las imágenes en pantallas pequeñas */
  }

  .parking-slider .slick-prev,
  .parking-slider .slick-next {
    padding: 5px; /* Reduce el tamaño de los botones de navegación */
  }
}
